<!DOCTYPE html>
<html lang="ko">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- google -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"/>

    <style>
      body,
      html {
        height: 100%;
        -ms-overflow-style: none;
        /* 스크롤바 제거 모바일페이지에서 작동안함*/
      }

      ::-webkit-scrollbar {
        /* 스크롤바 제거*/
        display: none;
      }

      input.search {
        background-repeat: no-repeat;
        border: 1px solid #ccc;
        padding: 5px;
      }

      input::-webkit-input-placeholder {
        background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png");
        background-size: contain;
        background-position: 1px center;
        background-repeat: no-repeat;
        text-align: center;
        text-indent: 0;
      }

      #reply {
        box-shadow: none;
      }

      #reply::-webkit-input-placeholder {
        background-image: none;
        text-align: start;
      }

      @media (min-width: 768px) {
        .left {
          margin-right: 33%;
        }
      }

      @media (768px >=width) {
        .left {
          margin-right: 6%;
        }
      }

      /* 모달 창 사이즈 조절 */
      .modal-content,
      .modal-dialog {
        height: 70%;
      }

      .modal-body {
        max-height: calc(100% - 120px);
        overflow-y: scroll;
      }
    </style>
    <title>Hello, world!</title>
  </head>

  <!-- <body class="bg-secondary bg-opacity-10"> -->

  <body class="">
    <!-- 네비바 -->
    <nav class="navbar bg-white navbar-expand-md ms-1 d-flex flex-nowrap fixed-top w-100">
      <!-- 로고 -->
      <div class="container-fluid">
        <div>
          <a class="navbar-brand" href="#">
            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png" alt="" srcset="" style="width: 50%"/>
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-bg-white w-50" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-body">
            <!-- 검색 -->
            <div style="margin: 0 auto">
              <form class="form-inline" role="search" id="search">
                <input class="search form-control" type="search" placeholder="Search" aria-label="Search"/>
              </form>
            </div>

            <!-- 메뉴 -->
            <div>
              <!-- 메뉴 리스트 -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link material-icons">home</a>
                </li>
                <!-- <li class="nav-item"> <a class="nav-link material-icons-outlined">home</a> </li> -->
                <li class="nav-item">
                  <a class="nav-link material-icons-outlined">send</a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                  <a class="nav-link material-icons-outlined" data-bs-toggle="modal" data-bs-target="#add_box">
                    add_box
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link material-icons-outlined">explore</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link material-icons-outlined">favorite_border</a>
                </li>
              </ul>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- 메인 화면 -->

    <div class="d-flex flex-row justify-content-center gap-1 pt-2 h-auto" style="margin-top: 56px">
      <!-- LEft-->
      <div class="left border col-md-7 col-10" style="margin-left: 7%">
        <!-- feed list -->

        {% for feed in feeds reversed %}
          <div class="border m-1 mb-2">
            <!-- 프로필 -->
            <div class="d-flex align-items-center mx-2 my-1">
              <div>
                <img class="rounded-circle" alt="avatar1" src="{{ feed.profile_image }}" style="width: 40px; height: 40px"/>
              </div>
              <div class="ms-1 fw-bold">{{ feed.user_id }}</div>
            </div>
            <!-- 이미지 -->
            <div class="box text-center mb-1">
              <img class="w-100" src="{% get_media_prefix %}{{ feed.image }}" alt="" srcset="" style="object-fit: contain; max-height: 500px; max-width: 1000px"/>
            </div>
            <!-- 아이콘 -->
            <div class="d-flex justify-content-between mx-2 mb-1">
              <div>
                <span class="material-icons-outlined">
                  favorite_border
                </span>
                <span class="material-icons-outlined">
                  chat_bubble_outline
                </span>
                <span class="material-icons-outlined">
                  send
                </span>
              </div>
              <div>
                <span class="material-icons-outlined">
                  bookmark_border
                </span>
              </div>
            </div>
            <div class="mx-2 mb-1">
              <div>좋아요
                <b>{{ feed.like_count }}</b>
              </div>
              <div>
                <b>{{feed.user_id}}</b>
                {{ feed.content }}</div>
              <div style="margin-top: 5px">댓글</div>
            </div>
            <div class="mx-1 mb-1">
              <input type="text" name="" class="form-control" placeholder="댓글 달기..."/>
            </div>
          </div>
        {% endfor %}
        <!-- end feed list -->
      </div>

      <!-- right -->
      <div class="right border col-md-3 h-auto d-none d-md-block p-1" style="position: fixed; margin-left: 60%">
        <!-- 내프로필 -->
        <div class="d-flex align-items-center mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 50px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold">ID</div>
            <div class="" style="color: gray">name</div>
          </div>
        </div>
        <!-- end 내프로필 -->

        <!-- 팔로우 추천 프로필 -->
        <!-- 상단 -->
        <div class="d-flex justify-content-between mx-2">
          <div style="color: gray">회원님을 위한 추천</div>
          <div>
            <a href="#" class="fw-bold" style="color: black; text-decoration: none; font-size: 13px">모두보기</a>
          </div>
        </div>
        <!-- 리스트 시작 -->
        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>

        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>
        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>
        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>
        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>
        <div class="d-flex position-relative mx-2 my-1">
          <div>
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" style="width: 30px"/>
          </div>
          <div class="row ms-1">
            <div class="fw-bold" style="font-size: 14px">ID</div>
            <div class="text-body-tertiary" style="font-size: 12px">~외 11명이 팔로우 합니다.</div>
          </div>

          <div class="position-absolute end-0">
            <a href="#" class="text-primary" style="text-decoration: none; font-size: 13px">팔로우</a>
          </div>
        </div>
        <div class="text-start mt-3 text-body-tertiary mx-1" style="font-size: 12px">
          <div>
            소개 도움말 홍보센터 API 채용정보
            <br/>
            개인정보처리방침 약관 위치 인기 계정 해시태그 언어
            <br/><br/>@2021 인스타그램
          </div>
        </div>
      </div>
    </div>

    <!-- add_box modal -->
    <!-- backdrop 했을때 알림창 뜨면서 닫기 물어보는 것 구현 필요함 -->
    <div class="modal fade" id="add_box" data-bs-backdrop="static" tabindex="-1">
      <!-- 이미지 업로드 모달 -->
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" id="modal1">
        <div class="modal-content">
          <div class="modal-header border-0">
            <!-- <h1 class="modal-title fs-5">Modal Title</h1> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div>새 이미지 업로드</div>
            <button type="button" class="btn btn-primary">Next</button>
          </div>

          <div class="modal-body border mx-2 img_upload">
            <div class="container-fluid">
              <p id="upload_text">이미지를 올려주세요</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 텍스트 입력 모달 -->
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" id="modal2">
        <div class="modal-content">
          <div class="modal-header border-0">
            <!-- <h1 class="modal-title fs-5">Modal Title</h1> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div>텍스트 입력</div>
            <button type="button" class="btn btn-primary" id="feed_create_button">Upload</button>
          </div>

          <div class="modal-body border mx-2 img_upload">
            <div class="container-fluid row m-auto h-100">
              <div class="left_image border col-8" style="height: inherit"></div>
              <div class="right_text col-4" style="height: inherit">
                <textarea class="form-control rounded-0" id="input_feed_content" rows="3" placeholder="텍스트입력" style="height: inherit; resize: none; overflow-x: hidden"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->

    <!-- modal js -->
    <script>
      /* files : 업로드 이미지 */
      let files

      $('.img_upload')
        .on('dragover', dragOver)
        .on('dragleave', dragOver)
        .on('drop', uploadFiles);

      function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type == 'dragover') {
          $(e.target).css({'background-color': 'black', 'outline-offset': '-20px'});
        } else {
          $(e.target).css({'background-color': 'gray', 'outline-offset': '-10px'});
        }
      }

      function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();
        dragOver(e);

        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.target.files || e.dataTransfer.files;
        if (files.length > 1) {
          alert('하나만 올려라.');
          return;
        }
        if (files[0].type.match(/image.*/)) {
          $('#modal1').css({display: 'none'});

          $('#modal2').css({display: 'flex'});

          $('#feed_create_button').click(function () {
            alert('업로드');

            let file = files[0];
            let image = files[0].name;
            let content = $('#input_feed_content').val();
            let user_id = 'test_id';
            let profile_image = 'https://mdbcdn.b-cdn.net/img/new/avatars/9.webp';

            let fd = new FormData();

            fd.append('file', file);
            fd.append('image', image);
            fd.append('content', content);
            fd.append('user_id', user_id);
            fd.append('profile_image', profile_image);

            $.ajax({
              url: "/content/upload",
              data: fd,
              method: "POST",
              processData: false,
              contentType: false,
              success: function (data) {
                console.log("성공");
              },
              error: function (request, status, error) {
                console.log("에러");
              },
              complete: function () {
                console.log("완료");
                location.replace("")
              }
            })
          });

          $('.left_image').css({
            'background-image': 'url(' + window
              .URL
              .createObjectURL(files[0]) + ')',
            outline: 'none',
            'background-size': 'contain',
            'background-repeat': 'no-repeat',
            'background-position': 'center'
          });
          const uptext = document.getElementById('upload_text');
          uptext.innerText = '';
        } else {
          alert('이미지가 아닙니다.');
          return;
        }
      }
    </script>
  </body>

</html>
